@media only screen and (max-width: 640px) {
  .table-responsive.table-rate table {
    width: 500px;
  }
  .table-responsive.table-rate .ant-table-content {
    overflow: auto;
  }
  .xs-width-100 {
    width: 100% !important;
  }
}
