@media only screen and (max-width: 640px) {
  .table-responsive.table-logcoin table {
    width: 1500px;
  }
  .table-responsive.table-logcoin .ant-table-content {
    overflow: auto;
  }
  .xs-width-100 {
    width: 100% !important;
  }
}
